@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1, h2, h3, h4, h5, article, .header {
    font-family: 'Roboto', 'Noto Sans SC';
}

h1, h2 {
    font-weight: 700;
}

h3, h4, h5, .header {
    font-weight: 600;
}

article {
    font-weight: 400;
}